/* ******************************************* */
/* BEGIN CUSTOM STYLES
/* ******************************************* */

.QDialog#DeployerAboutDlg {	
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #737373, stop:1 #666666);
}

.QScrollArea#settingsContainer {
	border: 1px solid rgb(64, 64, 64);
	padding: 2px 4px 2px 4px;
}


QPushButton#assignResourceFile {
	width: 11px;
	height:	11px;
}

QWidget#orientationContainer QPushButton {
	border: 2px transparent;
	border-image: url(:/Theme/button_transparent.png) 2 2 2 2;	
	padding: 1px 1px 1px 1px;
}
QWidget#orientationContainer QPushButton:checked {
	border-image: url(:/Theme/button_selected_norm.png) 2 2 2 2;
}
QWidget#orientationContainer QPushButton:hover {
	border-image: url(:/Theme/button_norm.png) 2 2 2 2;
}
QWidget#orientationContainer QPushButton:checked:hover {
	border-image: url(:/Theme/button_selected_norm.png) 2 2 2 2;
}
QWidget#orientationContainer QPushButton:pressed {
	border-image: url(:/Theme/button_selected_press.png) 2 2 2 2;
}
QWidget#orientationContainer QPushButton:checked:pressed {
	border-image: url(:/Theme/button_selected_press.png) 2 2 2 2;
}
QWidget#orientationContainer QPushButton:disabled {
	border-image: url(:/Theme/button_transparent.png) 2 2 2 2;
}
QWidget#orientationContainer QPushButton:checked:disabled {
	border-image: url(:/Theme/button_selected_disable.png) 2 2 2 2;
}

QWidget#targetsListContainer QPushButton {
	width: 40px;
	height: 40px;
	border: 2px transparent;
	border-image: url(:/Theme/button_transparent.png) 2 2 2 2;	
	padding: 1px 1px 1px 1px;
}
QWidget#targetsListContainer QPushButton:checked {
	border-image: url(:/Theme/button_selected_norm.png) 2 2 2 2;
}
QWidget#targetsListContainer QPushButton:hover {
	border-image: url(:/Theme/button_norm.png) 2 2 2 2;
}
QWidget#targetsListContainer QPushButton:checked:hover {
	border-image: url(:/Theme/button_selected_norm.png) 2 2 2 2;
}
QWidget#targetsListContainer QPushButton:pressed {
	border-image: url(:/Theme/button_selected_press.png) 2 2 2 2;
}
QWidget#targetsListContainer QPushButton:checked:pressed {
	border-image: url(:/Theme/button_selected_press.png) 2 2 2 2;
}
QWidget#targetsListContainer QPushButton:disabled {
	border-image: url(:/Theme/button_transparent.png) 2 2 2 2;
}
QWidget#targetsListContainer QPushButton:checked:disabled {
	border-image: url(:/Theme/button_selected_disable.png) 2 2 2 2;
}