/* ******************************************* */
/* BEGIN SHARED STYLES
/* ******************************************* */

* {
	background-color: #4d4d4d;
	show-decoration-selected: 0;
	border: 0px;                                                  
	font-size: 11px;
	font-family: "Tahoma";
	color: #ffffff;
}
*:disabled {
	color: #808080;
}

QAbstractScrollArea::corner {
	border: 1px solid #404040;
    background: #4d4d4d;
}

/**
 * TREEVIEW SKIN
 */
QTreeView {
	border: 1px solid #404040;
	background: #343434;
}
/* PPS: The corner is drawn even when only 1 scrollbar shows up..
        Draw it always with a border, so it blends for the 1 scrollbar case */
QTreeView::corner {
	border: 1px solid #404040;
	background: #4d4d4d;
}
QTreeView::item {
	background: #343434; /*Forced color so padding will work*/
	padding: 0 0 2 0;
	color: #ffffff; /*Froced, because it doesn't use the default top theme color*/
}
QTreeView::item:hover {
	background: #406a80;

}
QTreeView::item:selected {
	background: #406a80;
}

QTreeView::branch:has-children:!has-siblings:closed 
{
    image: url(:/VGxEditor/UI/Timeline/tree_expand.png);
}

QTreeView::branch:open:has-children:!has-siblings
{
    image: url(:/VGxEditor/UI/Timeline/tree_collapse.png);
}

QTreeView::branch:has-children:has-siblings:closed 
{
    image: url(:/VGxEditor/UI/Timeline/tree_expand.png);
}

QTreeView::branch:open:has-children:has-siblings 
{
    image: url(:/VGxEditor/UI/Timeline/tree_collapse.png);
}

/**
 * TREEWIDGET SKIN
 */
QTreeWidget {
	border: 0px;
	background: #343434;
}
/* PPS: The corner is drawn even when only 1 scrollbar shows up..
        Draw it always with a border, so it blends for the 1 scrollbar case */
QTreeWidget::corner {
	border: 1px solid #404040;
	background: #4d4d4d;
}
QTreeWidget::item {
	background: #343434; /*Forced color so padding will work*/
	padding: 0 0 2 0;
	color: #ffffff; /*Froced, because it doesn't use the default top theme color*/
}
QTreeWidget::item:hover {
	background: #406a80;
}
QTreeWidget::item:selected:active {
	background: #406a80;
}

QTreeWidget::item:selected:!active {
	background: #4d4d4d;
}

QTreeWidget::branch:has-children:!has-siblings:closed 
{
    image: url(:/VGxEditor/UI/Timeline/tree_expand.png);
}

QTreeWidget::branch:open:has-children:!has-siblings
{
    image: url(:/VGxEditor/UI/Timeline/tree_collapse.png);
}

QTreeWidget::branch:has-children:has-siblings:closed 
{
    image: url(:/VGxEditor/UI/Timeline/tree_expand.png);
}

QTreeWidget::branch:open:has-children:has-siblings 
{
    image: url(:/VGxEditor/UI/Timeline/tree_collapse.png);
}

/***
 * LISTVIEW SKIN
 */
QListWidget {
	background: #343434;
}
QListWidget::item {
	background: #343434; /*Forced color so padding will work*/
	padding: 2 0 3 0;
	color: #ffffff; /*Froced, because it doesn't use the default top theme color*/
}
QListWidget::item:selected {
	background: #406a80;
}
QListWidget::item:hover {
	background: #406a80;
}

/** 
 * HEADERVIEW SKIN
 */
.QHeaderView {

}
.QHeaderView::section {
	background: #343434;
	border-top: 3px transparent;
	border-bottom: 3px transparent;
	border-left: 3px transparent;
	border-right: 3px transparent;	  
	/*border-image: url(:/Theme/button_norm.png) 3 3 3 3;	*/
	padding: 4px 20px 4px 6px;
	margin-top: -1;
	margin-left: -1;
}
.QHeaderView::section:last {
	margin-right: -1;
}
.QHeaderView::section:hover {
	/*border-image: url(:/Theme/button_over.png) 3 3 3 3;*/
}
.QHeaderView::section:pressed {
	/*border-image: url(:/Theme/button_press.png) 3 3 3 3;*/
}
.QHeaderView::section:selected {
	/*border-image: url(:/Theme/button_press.png) 3 3 3 3;*/
}
.QHeaderView::down-arrow {
	image: url(:/Theme/sort_arrow_down.png);
	subcontrol-position: center right;
	subcontrol-origin: content;
	right: 6px;
}
.QHeaderView::up-arrow {
	image: url(:/Theme/sort_arrow_up.png);
	subcontrol-position: center right;
	subcontrol-origin: content;
	right: 6px;
}

/***
 * TABBAR SKIN
 */
/* THE FOLLOWING IS A WORKAROUND FOR A QT BUG: https://bugreports.qt.nokia.com/browse/QTBUG-6905 */
QTabBar {  
	border-top: 2px #383838;
	border-bottom: 0px #383838;
	border-left: 2px #383838;
	border-right: 2px #383838;	  
	border-image: url(:/Theme/tabbar_inactive.png) 2 2 0 2;
	margin-bottom: -1;
	background: #404040;
	font-weight: bold;  
	font-size: 10px;
}	/* The bold should be applied to QTabBar::tab */
/* END WORKAROUND */ 
QTabBar::tab {
	border-top: 2px #383838;
	border-bottom: 0px #383838;
	border-left: 2px #383838;
	border-right: 2px #383838;	  
	border-image: url(:/Theme/tabbar_inactive.png) 2 2 0 2;
	padding: 2px 7px 4px 7px;
	color: #999999;
}
QTabBar::tab:!first {
	margin-right: 1;
}
QTabBar::tab:selected {
	border-image: url(:/Theme/tabbar_active.png) 2 2 0 2;
	color: #ffffff;
}
QTabBar::tab:selected:hover {
	border-image: url(:/Theme/tabbar_active_over.png) 2 2 0 2;
}
QTabBar::tab:!selected:hover {
	border-image: url(:/Theme/tabbar_inactive_over.png) 2 2 0 2;
}
QTabBar::close-button {
	margin: 2 2 2 2;
	border-top: 2px transparent;
	border-bottom: 2px transparent;
	border-left: 2px transparent;
	border-right: 2px transparent;
	border-image: url(:/Theme/dock_window_close_up.png) 2 2 2 2;
}
QTabBar::close-button:hover {
    border-image: url(:/Theme/dock_window_close_over.png) 2 2 2 2;
}
QTabBar::close-button:pressed {
    border-image: url(:/Theme/dock_window_close_press.png) 2 2 2 2;
}

/* TURNING OFF BASE OF QTABBAR FOR QDOCKWIDGET IS NOT POSSIBLE : http://newsgroup.xnview.com/viewtopic.php?f=61&t=25934&start=30 */


/***
 * GROUPBOX SKIN
 */
.QGroupBox {
	margin: 22 3 3 3;
	padding: 0 3 6 3;
	font-weight: bold;	
	border-top: 3px transparent;
	border-bottom: 3px transparent;
	border-left: 3px transparent;
	border-right: 3px transparent;
	border-image:url(:/Theme/groupbox_bg.png) 3 3 3 3;	
}
.QGroupBox::title {
	subcontrol-origin: margin;
	subcontrol-position: top left;
	top: 5px;
	left: 10px;
	background: transparent;
}

/***
 * TABWIDGET SKIN
 */
.QTabWidget::pane {
	border: 1px solid #404040;
}

/***
 * PUSHBUTTON SKIN
 */
QPushButton {
	border-top: 3px transparent;
	border-bottom: 3px transparent;
	border-left: 3px transparent;
	border-right: 3px transparent;	  
	border-image: url(:/Theme/button_norm.png) 3 3 3 3;	 
	padding: 0px 6px 1px 6px;
}
QPushButton:checked {
	border-image: url(:/Theme/button_selected_norm.png) 3 3 3 3;
}
QPushButton:hover {
	border-image: url(:/Theme/button_over.png) 3 3 3 3;
}
QPushButton:checked:hover {
	border-image: url(:/Theme/button_selected_over.png) 3 3 3 3;
}
QPushButton:pressed {
	border-image: url(:/Theme/button_press.png) 3 3 3 3;
}
QPushButton:checked:pressed {
	border-image: url(:/Theme/button_selected_press.png) 3 3 3 3;
}
QPushButton:disabled {
	border-image: url(:/Theme/button_disable.png) 3 3 3 3;
}
QPushButton:checked:disabled {
	border-image: url(:/Theme/button_selected_disable.png) 3 3 3 3;
}

QPushButton#okButton, QPushButton#cancelButton {
	padding: 0px 12px 1px 12px;
}

/**
 * CHECKBOX SKIN
 */
.QCheckBox {
	spacing: 5px;
	padding: 0px;
}
.QCheckBox::indicator {
	width: 14px;
	height: 14px;
}
.QCheckBox::indicator:checked {
	image: url(:/Theme/check_on_norm.png);
}
.QCheckBox::indicator:checked:hover {
	image: url(:/Theme/check_on_over.png);
}
.QCheckBox::indicator:checked:pressed {
	image: url(:/Theme/check_on_press.png);
}
.QCheckBox::indicator:checked:disabled {
	image: url(:/Theme/check_on_disable.png);
}
.QCheckBox::indicator:unchecked {
	image: url(:/Theme/check_off_norm.png);
}
.QCheckBox::indicator:unchecked:hover {
	image: url(:/Theme/check_off_over.png);
}
.QCheckBox::indicator:unchecked:pressed {
	image: url(:/Theme/check_off_press.png);
}
.QCheckBox::indicator:unchecked:disabled {
	image: url(:/Theme/check_off_disable.png);
}

/***
 * TOOLTIP SKIN
 */
.QComboBox {
	border-top: 2px transparent;
	border-bottom: 2px transparent;
	border-left: 3px transparent;
	border-right: 18px transparent;	  
	border-image: url(:/Theme/combobox_up.png) 2 18 2 3;
	padding: 0px 5px 0px 5px;
}
.QComboBox::hover {
	border-image: url(:/Theme/combobox_over.png) 2 18 2 3;
}
.QComboBox::on {
	border-image: url(:/Theme/combobox_press.png) 2 18 2 3;
}
.QComboBox::disabled {
	border-image: url(:/Theme/combobox_disabled.png) 2 18 2 3;
}
.QComboBox::drop-down { /* The dropdown button */
	image: none;
}
.QComboBox QAbstractItemView {	/* The dropdown list */
	border-top: 2px transparent;
	border-bottom: 2px transparent;
	border-left: 2px transparent;
	border-right: 2px transparent;	  
	border-image: url(:/Theme/dropdown_bg.png) 2 2 2 2;
	selection-background-color: #406a80;
}
/* PPS: NOTE: The following requires that the combobox item delegate is 
              of type QStyledItemDelegate. See GFxAmpClientStyles class. */
.QComboBox QAbstractItemView::item {
	margin-top: 4px;
}

/***
 * TOOLTIP SKIN
 */
QToolTip {
	border-top: 2px transparent;
	border-bottom: 2px transparent;
	border-left: 2px transparent;
	border-right: 2px transparent;	  
	border-image: url(:/Theme/tooltip_bg.png) 2 2 2 2;
	color: #404040;
	padding: 0px 0px -3px 0px;
}

/***
 * LINEEDIT SKIN
 */
.QLineEdit {
	border-top: 4px transparent;
	border-bottom: 3px transparent;
	border-left: 3px transparent;
	border-right: 3px transparent;
	border-image: url(:/Theme/textinput_norm.png) 4 3 3 3;
	selection-background-color: #118ebd;
	padding: -3 0 0 0;
}
/*
.QLineEdit:hover {
	border-image: url(:/Theme/textinput_focus.png) 2 1 1 1
}
*/
.QLineEdit:focus {
	border-top: 4px transparent;
	border-bottom: 3px transparent;
	border-left: 3px transparent;
	border-right: 3px transparent;
	border-image: url(:/Theme/textinput_norm.png) 4 3 3 3;
	selection-background-color: #118ebd;
}
.QLineEdit:disabled 
{
    border-top: 4px transparent;
	border-bottom: 3px transparent;
	border-left: 3px transparent;
	border-right: 3px transparent;
	border-image: url(:/Theme/textinput_disable.png) 4 3 3 3;
}

/**
 * PLAINTEXTEDIT SKIN
 */
.QPlainTextEdit {
	border: 1px solid #404040;
	background: #d0d0d0;
	color: #202020;
}
/* PPS: The corner is drawn even when only 1 scrollbar shows up..
        Draw it always with a border, so it blends for the 1 scrollbar case */
.QPlainTextEdit::corner {
	border: 1px solid #404040;
	background: #4d4d4d;
}

/***
 * VERTICAL SCROLLBAR SKIN
 */
.QScrollBar:vertical {
	background-image: url(:/Theme/scrollbar_track_v.png);
    width: 17px;
    margin: 17px 0px 17px 0px;
}
.QScrollBar::handle:vertical {
	border-top: 4px transparent;
	border-bottom: 4px transparent;
	border-left: 4px transparent;
	border-right: 4px transparent;	  
	border-image: url(:/Theme/vscrollbar_grip_norm.png) 4 4 4 4;	  
	min-height: 20px;
}
.QScrollBar::handle:vertical:hover {
	border-image: url(:/Theme/vscrollbar_grip_over.png) 4 4 4 4;	  
}
.QScrollBar::handle:vertical:pressed {
	border-image: url(:/Theme/vscrollbar_grip_norm.png) 4 4 4 4;	  
}
.QScrollBar::handle:vertical:disabled {
	border-image: none;
}
.QScrollBar::add-line:vertical {
	subcontrol-position: bottom;
	subcontrol-origin: margin;	  
	image: url(:/Theme/scrollbar_down_norm.png);
	background-image: url(:/Theme/scrollbar_track_v.png);
}
.QScrollBar::add-line:vertical:hover {
	image: url(:/Theme/scrollbar_down_over.png);
}
.QScrollBar::add-line:vertical:pressed {
	image: url(:/Theme/scrollbar_down_press.png);
}
.QScrollBar::add-line:vertical:disabled {
	image: url(:/Theme/scrollbar_down_disable.png);
}
.QScrollBar::sub-line:vertical {
	subcontrol-position: top;
	subcontrol-origin: margin;
	image: url(:/Theme/scrollbar_up_norm.png);
	background-image: url(:/Theme/scrollbar_track_v.png);
}
.QScrollBar::sub-line:vertical:hover {
	image: url(:/Theme/scrollbar_up_over.png);
}
.QScrollBar::sub-line:vertical:pressed {
	image: url(:/Theme/scrollbar_up_press.png);
}
.QScrollBar::sub-line:vertical:disabled {
	image: url(:/Theme/scrollbar_up_disable.png);
}
.QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
	background: none;
}

/***
 * HORIZONTAL SCROLLBAR SKIN
 */
.QScrollBar:horizontal {
	background-image: url(:/Theme/scrollbar_track_h.png);
    height: 17px;
    margin: 0px 17px 0px 17px;
}
.QScrollBar::handle:horizontal {
	border-top: 4px transparent;
	border-bottom: 4px transparent;
	border-left: 4px transparent;
	border-right: 4px transparent;	  
	border-image: url(:/Theme/hscrollbar_grip_norm.png) 4 4 4 4;	  
	min-width: 20px;
}
.QScrollBar::handle:horizontal:hover {
	border-image: url(:/Theme/hscrollbar_grip_over.png) 4 4 4 4;	  
}
.QScrollBar::handle:horizontal:pressed {
	border-image: url(:/Theme/hscrollbar_grip_norm.png) 4 4 4 4;	  
}
.QScrollBar::handle:horizontal:disabled {
	border-image: none;
}
.QScrollBar::add-line:horizontal {
	subcontrol-position: top right;
	subcontrol-origin: margin;	  
	image: url(:/Theme/scrollbar_right_norm.png);
	background-image: url(:/Theme/scrollbar_track_h.png);
}
.QScrollBar::add-line:horizontal:hover {
	image: url(:/Theme/scrollbar_right_over.png);
}
.QScrollBar::add-line:horizontal:pressed {
	image: url(:/Theme/scrollbar_right_press.png);
}
.QScrollBar::add-line:horizontal:disabled {
	image: url(:/Theme/scrollbar_right_disable.png);
}
.QScrollBar::sub-line:horizontal {
	subcontrol-position: top left;
	subcontrol-origin: margin;
	image: url(:/Theme/scrollbar_left_norm.png);
	background-image: url(:/Theme/scrollbar_track_h.png);
}
.QScrollBar::sub-line:horizontal:hover {
	image: url(:/Theme/scrollbar_left_over.png);
}
.QScrollBar::sub-line:horizontal:pressed {
	image: url(:/Theme/scrollbar_left_press.png);
}
.QScrollBar::sub-line:horizontal:disabled {
	image: url(:/Theme/scrollbar_left_disable.png);
}
.QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
	background: none;
}


/**
 * MENUBAR SKIN
 */
.QMenuBar {
	background: transparent;
	spacing: 2px;	
	padding: 5px;
	font-family: "Segoe UI";
	font-size: 12px;	
}
.QMenuBar::item {
	padding: 2 8 3 8;
	background: transparent;
}
.QMenuBar::item:selected {
	border-top: 3px transparent;
	border-bottom: 3px transparent;
	border-left: 3px transparent;
	border-right: 3px transparent;
	border-image: url(:/Theme/button_norm.png) 3 3 3 3;
}
.QMenuBar::item:pressed {
	border-top: 3px transparent;
	border-bottom: 3px transparent;
	border-left: 3px transparent;
	border-right: 3px transparent;
	border-image: url(:/Theme/button_press.png) 3 3 3 3;
}

/**
 * MENU SKIN
 */
.QMenu {
	border-top: 12px transparent;
	border-bottom: 12px transparent;
	border-left: 25px transparent;
	border-right: 22px transparent;	  	
	border-image: url(:/Theme/menu.png) 12 22 12 25;
	padding: -22px;
	font-family: "Segoe UI";
	font-size: 12px;	
}
.QMenu::separator {
	height: 3px;
	background-image: url(:/Theme/menu_splitter.png);
	margin: 3px 2px 2px 23px;
}
.QMenu::item {
	border-style: solid;
	border-color: transparent;
	border-width: 0px 0px 0px 25px;
	padding: 3px 12px 3px 3px;
}
.QMenu::item:selected {	
	border-top: 0px transparent;
	border-bottom: 0px transparent;
	border-left: 25px transparent;
	border-right: 0px transparent;
	border-image: url(:/Theme/menu_select.png) 0 0 0 25;
}
.QMenu::item:disabled {
	color: #999999;
}
.QMenu::item:selected:disabled {
	border-width: 0px 0px 0px 25px;
	border-color: transparent;	
	border-style: solid;
	border-image: none;
}
.QMenu::indicator {
	width: 20px;
	height: 20px;
	left: -25px;
}
.QMenu::indicator:checked {
	image: url(:/Theme/menu_check.png);
}

.QMenu::icon {
	left: -23px;
}

/**
 * TOOLBAR SKIN
 */
QToolBar {
	border: 2px transparent;
	border-image: url(:/Theme/toolbar_bg.png);
	padding: 0 2 0 2;
}
QToolBar::top:!first { margin-left: -1px; }
QToolBar::top:only-one { margin-left: 0px; }
QToolBar::bottom:!first { margin-left: -1px; }
QToolBar::bottom:only-one { margin-left: 0px; }
QToolBar::left:!first { margin-top: -1px; }
QToolBar::left:only-one { margin-top: 0px; }
QToolBar::right:!first { margin-top: -1px; }
QToolBar::right:only-one { margin-top: 0px; }
QToolBar::separator {
	width: 3px;
	margin: 2px;
	background-image: url(:/Theme/toolbar_splitter.png);
}
QToolBar::handle {
	background-image: url(:/Theme/toolbar_grip.png);
	margin: 1 2 4 2;
}

/**
 * TOOLBUTTON SKIN
 */
QToolButton {
	min-width: 20px;
	min-height: 20px;
	border: 3px transparent;	
	border-image: url(:/Theme/button_transparent.png) 3 3 3 3;
	margin-top: 2;
	/*padding: -5 6 -4 6; USE FOR TEXT ONLY TOOL BUTTONS*/
	padding: -4 -2 -5 -1;
}
QToolButton:checked {
	border-image: url(:/Theme/button_selected_norm.png) 3 3 3 3;
}
QToolButton:hover {
	border-image: url(:/Theme/button_selected_over.png) 3 3 3 3;
}
QToolButton:checked:hover {
	border-image: url(:/Theme/button_selected_norm.png) 3 3 3 3;
}
QToolButton:pressed {
	border-image: url(:/Theme/button_selected_press.png) 3 3 3 3;
}
QToolButton:checked:pressed {
	border-image: url(:/Theme/button_selected_press.png) 3 3 3 3;
}
QToolButton:disabled {
	border-image: url(:/Theme/button_transparent.png) 3 3 3 3;
}
QToolButton:checked:disabled {
	border-image: url(:/Theme/button_selected_disable.png) 3 3 3 3;
}

 /**
  * STATUSBAR SKIN
  */
.QStatusBar::item {
	border: 0px solid none;
	margin: 0px;
}
.QStatusBar .QLabel {
	padding: 3px;
}

/**
 * SIZEGRIP SKIN
 */
.QSizeGrip {
	background: none;
}

/** 
 * SPLITTER SKIN
 */
QSplitter {
	max-height: 1px;
	max-width: 1px;
}
QSplitter::handle:horizontal {
	border: 1px transparent;	
	border-image:  url(:/Theme/v_splitter.png) 1 1 1 1;	
}

QSplitter::handle:vertical {
	border: 1px transparent;	
	border-image:  url(:/Theme/h_splitter.png) 1 1 1 1;	
}

/**
 * LABEL SKIN
 */
QLabel {
	background: transparent;
}

/** 
 * DIALOG SKIN
 */
QDialog, QDialog * {
	/*font-size: 8pt;*/
}

/**
 * PROGRESSBAR SKIN
 */
QProgressBar:horizontal {
	border: 0px;
	background: transparent;
	padding: 0px;
}
QProgressBar::chunk:horizontal {
	background: qlineargradient(x1: 0, y1: 0.5, x2: 1, y2: 0.5, stop: 0 #737373, stop: 1 #222222);
}